.euiDateRangeTicks {
  position: absolute;
  left: ($euiDateRangeThumbWidth / 2);
  right: ($euiDateRangeThumbWidth / 2);
  top: $euiSizeS;
  display: flex;
}

.euiDateRangeTick {
  overflow-x: hidden;
  text-overflow: ellipsis;
  font-size: $euiFontSizeXS;
  position: relative;
  padding-top: $euiSize;
  color: $euiColorDarkShade;

  &::before {
    @include size($euiSizeXS);
    width: $euiSizeXS;
    height: $euiSizeM;
    content: "";
    background-color: $euiColorLightShade;
    position: absolute;
    top: 0;
    left: calc(50% - #{($euiSizeXS/2)});
  }

  &--isCustom {
    position: absolute;
    transform: translateX(-50%);
  }

  &:enabled:hover,
  &:focus,
  &--selected {
    color: $euiColorPrimary;
  }

  &--selected {
    font-weight: $euiFontWeightMedium;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.euiDateRangeTicks--compressed {
  top: $euiSizeS - 2px;

  .euiDateRangeTick {
    padding-top: $euiSize - 2px;
  }
}
