.euiDateRangeHighlight {
  position: absolute;
  left: 0;
  width: 100%;
  top: calc(50% - #{($euiDateRangeHighlightHeight / 2)});
  background: $euiColorLightShade !important;
  overflow: hidden;
  z-index: 1;

  &__progress {
    height: $euiDateRangeHighlightHeight;
    border-radius: $euiDateRangeHighlightHeight;
    background-color: $euiDateRangeTrackColor;

    &--hasFocus {
      background-color: $euiColorPrimary;
    }
  }

  &--hasTicks {
    top: ($euiFormControlHeight / 4) - ($euiDateRangeHighlightHeight / 2);
  }

  &--hasTicks.euiDateRangeHighlight--compressed {
    top: ($euiFormControlCompressedHeight / 4) -
      ($euiDateRangeHighlightHeight / 2);
  }
}
