// Range
$euiDateRangeTrackColor: $euiColorPrimary !default;

$euiDateRangeThumbRadius: 50% !default;
$euiDateRangeThumbHeight: $euiSize !default;
$euiDateRangeThumbWidth: $euiSize !default;
$euiDateRangeThumbBorderColor: $euiColorEmptyShade !default;

$euiDateRangeTrackWidth: 100% !default;
$euiDateRangeTrackHeight: $euiSizeXS !default;
$euiDateRangeTrackBorderWidth: 0 !default;
$euiDateRangeTrackBorderColor: $euiDateRangeTrackColor !default;
$euiDateRangeTrackRadius: $euiBorderRadius !default;

$euiDateRangeDisabledOpacity: 0.25 !default;

$euiDateRangeHighlightHeight: $euiSizeXS !default;
